/* src/components/LoginForm/LoginForm.css */
.login-form-container {
  width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.form-group-buttons {
  display: flex; 
  justify-content: space-between; 
}

button {
  flex: 1; 
  padding: 10px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
}

button + button {
  margin-left: 10px;
}
